sudo: required

language: scala

jdk:
- oraclejdk8

services:
- docker

before_install:
- docker pull quay.io/coreos/etcd:v2.3.1
- docker run --detach --publish 2379:2379 quay.io/coreos/etcd:v2.3.1 --listen-client-urls http://0.0.0.0:2379 --advertise-client-urls http://127.0.0.1:2379

script: sbt test
