<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout>
                <pattern>%date{HH:mm:ss} %-5level %logger{0} [%X{akkaSource}] - %msg%n</pattern>
            </PatternLayout>
        </Console>
        <File name="FILE" fileName="constructr-akka.log" append="false">
            <PatternLayout>
                <pattern>%date{HH:mm:ss} %-5level %logger{0} [%X{akkaSource}] - %msg%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="de.heikoseeberger.constructr" level="debug" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Logger>
        <Logger name="Remoting" level="off" additivity="false">
        </Logger>
        <Logger name="akka.remote.EndpointWriter" level="off" additivity="false">
        </Logger>
        <Logger name="akka.cluster.ClusterHeartbeatSender" level="off" additivity="false">
        </Logger>
        <Root level="warn">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>
